.draw-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.draw-content h3 {
	color: var(--brand-text-light-dark);
	font-size: 26px;
}

/* X on Drawer */
.m_b5489c3c {
	justify-content: flex-end !important;
}