.details-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-evenly;
}

.winner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	padding-left: calc(8px + 1.5625vw);
	padding-right: calc(8px + 1.5625vw);
}

.winner__details-inner {
	@media (min-width: 1440px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.winner__details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 90%;
	gap: 3rem;

	@media (min-width: 1440px) {
		display: flex;
		width: 40%;
		flex-direction: column;
	}
}

.winner-name-details {
	display: flex;
	flex-direction: column;
}

.winner-name-details h4 {
	font-size: 18px !important;
}

.winner__header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.circle {
	background-color: var(--brand-background-light);
	border-radius: 50%;
	height: 12rem;
	text-align: center;
	width: 12rem;
}

.initials {
	font-size: calc(12rem / 2);
	line-height: 1;
	position: relative;
	top: calc(12rem / 4);
}

.related-winner__details-container {
	@media (min-width: 1440px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.inner-related-winner__details-container {
	@media (min-width: 1440px) {
		display: flex;
		width: 40%;
		flex-direction: column;
	}
}

.related-winner__details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.related-initials {
	font-size: calc(8rem / 2);
	line-height: 1;
	position: relative;
	top: calc(8rem / 4);
	color: var(--brand-text-dark);
}

.square {
	background-color: var(--brand-background-dark);
	height: 8rem;
	text-align: center;
	width: 8rem;
}